.DrawerOpen {
    height: 100px;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: .5rem;
    margin-top: 13px;
}

.DrawerOpen>div {
    height: 3px;
    width: 2rem;
    background-color: white;
}

.DrawerOpen>div:not(:last-child) {
    margin-bottom: .5rem;
}

@media (min-width: 980px) {
    .DrawerOpen {
        display: none;
        overflow-x: hidden;
    }
}